{% extends "main.html" %}
{% block content %}
<div class="container">
  <h2 class="mb-3">Dashboard</h2>
  <div class="row g-3">
    <div class="col-md-4">
      <a class="btn btn-custom w-100" href="{{ url_for('user.history') }}">View Prediction History</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom w-100" href="{{ url_for('home') }}">Go to Predictions</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-custom w-100" href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
  </div>
</div>
{% endblock %}

