<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <br>
    <div class=" text-center">
        <h1 class="font-weight-bold">PAGE NOT FOUND ! </h1>
    </div>
    <div class=" text-center">
        <br>
        <h2 class="font-weight-bold"> ERROR 404 </h2><br>
        <a href="{{ url_for('home') }}"><button type="button" class="btn btn-dark btn-lg">Go Back to
                Home</button></a>
    </div>

    <div class="container bg-dark text-white .jumbotron">
        <div class=" text-center mt-5 ">
            <br>
        </div>
    </div>
</body>

</html>
