{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center" data-aos="fade-up">
            <h1 class="display-4 mb-4">Kidney Disease Prediction</h1>
            <p class="lead mb-5">Enter your health details below to get a prediction about your kidney disease risk.</p>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card disease-card" data-aos="fade-up" data-aos-delay="100">
                <div class="card-body p-4">
                    <form action="{{ url_for('predictPage') }}" method="POST">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="age">Age (years)</label>
                                    <input type="number" class="form-control" id="age" name="age" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bp">Blood Pressure (mm Hg)</label>
                                    <input type="number" class="form-control" id="bp" name="bp" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sg">Specific Gravity</label>
                                    <input type="number" step="0.001" class="form-control" id="sg" name="sg" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="al">Albumin</label>
                                    <select class="form-control" id="al" name="al" required>
                                        <option value="">Select Level</option>
                                        <option value="0">Normal</option>
                                        <option value="1">Unusual</option>
                                        <option value="2">Moderate</option>
                                        <option value="3">High</option>
                                        <option value="4">Very High</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="su">Sugar</label>
                                    <select class="form-control" id="su" name="su" required>
                                        <option value="">Select Level</option>
                                        <option value="0">Normal</option>
                                        <option value="1">Unusual</option>
                                        <option value="2">Moderate</option>
                                        <option value="3">High</option>
                                        <option value="4">Very High</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rbc">Red Blood Cells</label>
                                    <select class="form-control" id="rbc" name="rbc" required>
                                        <option value="">Select</option>
                                        <option value="0">Normal</option>
                                        <option value="1">Abnormal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pc">Pus Cell</label>
                                    <select class="form-control" id="pc" name="pc" required>
                                        <option value="">Select</option>
                                        <option value="0">Normal</option>
                                        <option value="1">Abnormal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pcc">Pus Cell Clumps</label>
                                    <select class="form-control" id="pcc" name="pcc" required>
                                        <option value="">Select</option>
                                        <option value="0">Not Present</option>
                                        <option value="1">Present</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ba">Bacteria</label>
                                    <select class="form-control" id="ba" name="ba" required>
                                        <option value="">Select</option>
                                        <option value="0">Not Present</option>
                                        <option value="1">Present</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bgr">Blood Glucose Random (mg/dL)</label>
                                    <input type="number" class="form-control" id="bgr" name="bgr" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bu">Blood Urea (mg/dL)</label>
                                    <input type="number" class="form-control" id="bu" name="bu" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sc">Serum Creatinine (mg/dL)</label>
                                    <input type="number" step="0.1" class="form-control" id="sc" name="sc" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="sod">Sodium (mEq/L)</label>
                                    <input type="number" class="form-control" id="sod" name="sod" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pot">Potassium (mEq/L)</label>
                                    <input type="number" step="0.1" class="form-control" id="pot" name="pot" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hemo">Hemoglobin (g/dL)</label>
                                    <input type="number" step="0.1" class="form-control" id="hemo" name="hemo" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pcv">Packed Cell Volume</label>
                                    <input type="number" class="form-control" id="pcv" name="pcv" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="wc">White Blood Cell Count (cells/cumm)</label>
                                    <input type="number" class="form-control" id="wc" name="wc" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rc">Red Blood Cell Count (millions/cmm)</label>
                                    <input type="number" step="0.1" class="form-control" id="rc" name="rc" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="htn">Hypertension</label>
                                    <select class="form-control" id="htn" name="htn" required>
                                        <option value="">Select</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dm">Diabetes Mellitus</label>
                                    <select class="form-control" id="dm" name="dm" required>
                                        <option value="">Select</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cad">Coronary Artery Disease</label>
                                    <select class="form-control" id="cad" name="cad" required>
                                        <option value="">Select</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="appet">Appetite</label>
                                    <select class="form-control" id="appet" name="appet" required>
                                        <option value="">Select</option>
                                        <option value="0">Good</option>
                                        <option value="1">Poor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pe">Pedal Edema</label>
                                    <select class="form-control" id="pe" name="pe" required>
                                        <option value="">Select</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ane">Anemia</label>
                                    <select class="form-control" id="ane" name="ane" required>
                                        <option value="">Select</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-custom">Predict</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}